#padd0 {
    padding: 0rem;
}

#dropdown-content {
    background-color: rgb(56, 66, 66);
    position: absolute;
    width: 15rem;
    z-index: 999;
    overflow: auto !important;
    max-height: 30rem;
    border-radius: 0rem 0rem 1rem 1rem;
    margin-top: 4rem;
    margin-right: 3rem;
    right: 0;
}

.dd-content {
    padding:0.6rem;
    cursor: pointer;
}

.dd-content:hover {
    background-color: rgb(56, 61, 61);
}

.btn-dd {
    float: right;
    height: 2.5rem;
    width: 15rem;
    margin-top: 1.5rem;
    margin-right: 3rem;
}