@import url("color.css");
@import url("right-tab.css");
@import url("map.css");
@import url("charts.css");
@import url("dropdown.css");
@import url("scrollbar.css");

html {
    background-color: var(--background);
    font-family: 'Dosis', sans-serif;
    color: rgb(200, 200, 200);
}

.swipe-nul {
    height: 55rem
}

.map-preloader {
    display: flex;
    justify-content : center;
    align-items : center;
    height: 32em;
}