@import url("color.css");
@import url("responsive.css");
@import url("right-tab.css");
@import url("map.css");
@import url("dropdown.css");
@import url("scrollbar.css");
@import url("charts.css");

.header-container {
    height: 6em;
    width: auto;
    border-bottom: 2px solid rgb(81, 81, 81);
}

.body-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.map-preloader {
    display: flex;
    justify-content : center;
    align-items : center;
    height: 32em;
}