.map-container {
    height: 100%;
    width: 66%;
    border-right: 2px solid rgb(81, 81, 81);
    margin-right: 0.2em;
}

.continent {
	fill: #f0e4dd;
	stroke: #e0cabc;
	stroke-width: 0.5;
}

.circles {
	fill: #3c373d;
}

.labels {
	font-family: sans-serif;
	font-size: 11px;
	fill: #3c373d;
}

.container {
	width:1000px;
}

.container2 {
	width:250px;
}

.container3 {
	width:250px;
}

.container4 {
	width:250px;
}

.container5 {
	width:250px;
}

.flexingz {
	display: flex;
}