@media only screen and (min-width: 0) {

}

@media only screen and (min-width: 601px) {
	.container {
		margin-right: 0px;
		margin-left: 0px;
		max-width: unset;
		width: unset;
		margin: 1em;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		margin-right: 0px;
		margin-left: 0px;
		max-width: unset;
		width: unset;
		margin: 1em;
	}
}

.continent {
	fill: #f0e4dd;
	stroke: #e0cabc;
	stroke-width: 0.5;
}

.circles {
	fill: #3c373d;
}

.labels {
	font-family: sans-serif;
	font-size: 11px;
	fill: #3c373d;
}

.pin {
	cursor: pointer;
}

.pin-text {
	text-shadow: 0.03em 0 rgb(255, 255, 255), 0 0.03em rgb(255, 255, 255), -0.03em 0 rgb(255, 255, 255), 0 -0.03em rgb(255, 255, 255);
	cursor: pointer;
}